 
 <div class="center jumbotron">
   

  
  <h1>Alpha Blog</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-xlarge  " %> 
  </div>
 
  
<!DOCTYPE html>


<html>

  <head>  
    <title>My 5 Favorite Restaurants</title>
  
  </head>

    <!-- Bootstrap  -->
    
    <!-- Latest compiled and minified CSS -->
 
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/ Sp" crossorigin="anonymous">
 -->

    <p>This is a listing of Good Places to eat</p>

    <ol>
      <li><a href="https://www.54thstreetgrill.com" target = "_blank" > 54'th Street Bar & Grill</a> </li>
  	  <li><a href="https://www.texasroadhouse.com" target = "_blank"> Texas RoadHouse </a> </li>
      <li><a href="https://www.Redlobster.com" target="_blank"> Red lobster </a> </li>
       <li><a href="https://www.shangrilasanantonio.com/"target = "_blank"> Shangrila Chinese Food </a> </li>
       <li><a href="https://www.shrimphouse.com/" target = "_blank"> Sea Island</a> </li>        

     </ol>

 
</body>

</html> 
